torch>=2.0.0
torchvision
sentence-transformers
transformers
accelerate
yt-dlp
python-slugify
opencv-python-headless
whisper
pdfkit
markdown2
tqdm
Pillow
flask
gunicorn==20.1.0
PyYAML==6.0.1
celery
redis
