[Unit]
Description=YouTube Converter Service
After=network.target

[Service]
User=www-data
WorkingDirectory=/app
ExecStart=/bin/bash start.sh
Restart=always
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
